<!DOCTYPE HTML>
<html>
	<head>
		<title>Discountify</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
	</head>
	<body>
			<div id="wrapper">
					<header id="header">
						<h1><a href="/"><strong>Discountify</strong> by @limitedeternity</a></h1>
						<nav>
							<ul>
								<li><a href="#footer" class="icon fa-info-circle">About</a></li>
							</ul>
						</nav>
					</header>
					<div id="main">
						<article class="thumb">
							<a class="image" href="{{ barcodes['lenta'] }}"><img src="/images/thumbs/lenta.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
						<article class="thumb">
							<a class="image" href="{{ barcodes['ostin'] }}"><img src="/images/thumbs/ostin.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
						<article class="thumb">
							<a class="image" href="{{ barcodes['restore'] }}"><img src="/images/thumbs/restore.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
						<article class="thumb">
							<a class="image" href="{{ barcodes['advantage'] }}"><img src="/images/thumbs/advantage.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
						<article class="thumb">
							<a class="image" href="{{ barcodes['585gold'] }}"><img src="/images/thumbs/585gold.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
					</div>
					<footer id="footer" class="panel">
						<div class="inner split">
							<div>
								<section>
									<h2>About</h2>
									<p>This project was created to share discounting cards with other people. <br> You may ask "Why should I do that?". <br> 
										Well, some discounting cards have a loyality system. The more you buy, the more discount becomes. By sharing card with other people you can maximize discount for your card really fast. And you are not loosing anything at all! <br>
										Also, people, who use your discounting card will get, obviously, a discount. <br> Everyone love discounts, isn't it? </p>
								</section>
								<section>
									<h2>Follow me on ...</h2>
									<ul class="icons">
										<li><a href="https://github.com/limitedeternity" target="_blank" class="icon fa-github"><span class="label">GitHub</span></a></li>
									</ul>
								</section>
							</div>
						</div>
					</footer>
			</div>

			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.poptrox.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
			<script src="/js/main.js"></script>
	</body>
</html>