<!DOCTYPE HTML>
<html>
	<head>
		<title>Discountify</title>
		<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Cache-Control" content="max-age=0" />
		<!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
		<meta name="robots" content="NONE" />
    <meta name="keywords" content="discounting cards, discount, discounting, cards, sharing, скидки, скидочные карты, карты, купоны" />
    <meta name="description" content="Discounting cards sharing service." />
    <meta name="author" content="limitedeternity" />
		<link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="manifest" href="/config/manifest.json">
    <meta name="msapplication-config" content="/config/browserconfig.xml" />
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#000000">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	</head>
	<body>
			<div id="wrapper">
					<header id="header">
						<h1><a href="/"><strong>Discountify</strong> by @limitedeternity</a></h1>
						<nav>
							<ul>
								<li><a href="#footer" class="icon fa-info-circle">About</a></li>
							</ul>
						</nav>
					</header>
					<div id="main">
						<article class="thumb">
							<a class="image" href="{{ barcodes['ostin'] }}"><img src="/images/thumbs/ostin.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
						<article class="thumb">
							<a class="image" href="{{ barcodes['restore'] }}"><img src="/images/thumbs/restore.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
						<article class="thumb">
							<a class="image" href="{{ barcodes['lenta'] }}"><img src="/images/thumbs/lenta.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
						<article class="thumb">
							<a class="image" href="{{ barcodes['advantage'] }}"><img src="/images/thumbs/advantage.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
						<article class="thumb">
							<a class="image" href="{{ barcodes['585gold'] }}"><img src="/images/thumbs/585gold.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
						<article class="thumb">
							<a class="image" href="{{ barcodes['samsung'] }}"><img src="/images/thumbs/samsung.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
						<article class="thumb">
							<a class="image" href="{{ barcodes['sony'] }}"><img src="/images/thumbs/sony.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
						<article class="thumb">
							<a class="image" href="{{ barcodes['funday'] }}"><img src="/images/thumbs/funday.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
						<article class="thumb">
							<a class="image" href="{{ barcodes['nike'] }}"><img src="/images/thumbs/nike.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
					</div>
					<footer id="footer" class="panel">
						<div class="inner split">
							<div>
								<section>
									<h2>About</h2>
									<p>This project was created to share discounting cards with other people. <br> You may ask "Why should I do that?". <br> 
										Well, some discounting cards have a loyality system. The more you buy, the more discount becomes. By sharing card with other people you can maximize discount for your card really fast. And you are not loosing anything at all! <br>
										Also, people, who use your discounting card will get, obviously, a discount. <br> Everyone love discounts, isn't it? </p>
								</section>
								<section>
									<h2>Follow me on ...</h2>
									<ul class="icons">
										<li><a href="https://github.com/limitedeternity" target="_blank" class="icon fa-github"><span class="label">GitHub</span></a></li>
									</ul>
								</section>
							</div>
						</div>
					</footer>
			</div>

			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.poptrox.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
			<script src="/js/main.js"></script>
	</body>
</html>