<!DOCTYPE HTML>
<html>
	<head>
		<title>Discountify</title>
		<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Cache-Control" content="max-age=0" />
		<!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
		<meta name="robots" content="index, nofollow" />
		<meta name="googlebot" content="index, nofollow" />
    <meta name="google" content="notranslate" />
    <meta name="yandex" content="index, nofollow" />
    <meta name="keywords" content="discounting cards, discount, discounting, cards, sharing, скидки, скидочные карты, карты, купоны" />
    <meta name="description" content="Discounting cards sharing service." />
    <meta name="author" content="limitedeternity" />
		<link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="manifest" href="/config/manifest.json">
    <meta name="msapplication-config" content="/config/browserconfig.xml" />
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#000000">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	</head>
	<body>
			<div id="wrapper">
					<header id="header">
						<h1><a href="/"><strong>Discountify</strong> by @limitedeternity</a></h1>
						<nav>
							<ul>
								<li><a href="#search" class="icon fa-search">Search</a></li>
							</ul>
						</nav>
					</header>
					<div id="main">
						<article class="thumb">
							<a class="image" data-search="ostin, остин" href="{{ barcodes['ostin'] }}"><img src="/images/thumbs/ostin.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
						<article class="thumb">
							<a class="image" data-search="restore, рестор, re:store, re: store"href="{{ barcodes['restore'] }}"><img src="/images/thumbs/restore.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
						<article class="thumb">
							<a class="image" data-search="lenta, лента" href="{{ barcodes['lenta'] }}"><img src="/images/thumbs/lenta.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
						<article class="thumb">
							<a class="image" data-search="advantage, улыбка, радуги, улыбка радуги" href="{{ barcodes['advantage'] }}"><img src="/images/thumbs/advantage.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
						<article class="thumb">
							<a class="image" data-search="585gold, 585 gold" href="{{ barcodes['585gold'] }}"><img src="/images/thumbs/585gold.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
						<article class="thumb">
							<a class="image" data-search="samsung, самсунг" href="{{ barcodes['samsung'] }}"><img src="/images/thumbs/samsung.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
						<article class="thumb">
							<a class="image" data-search="sony, сони" href="{{ barcodes['sony'] }}"><img src="/images/thumbs/sony.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
						<article class="thumb">
							<a class="image" data-search="funday, фандей, фандэй" href="{{ barcodes['funday'] }}"><img src="/images/thumbs/funday.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
						<article class="thumb">
							<a class="image" data-search="nike, найк" href="{{ barcodes['nike'] }}"><img src="/images/thumbs/nike.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
						<article class="thumb">
							<a class="image" data-search="евразия" href="{{ barcodes['evrasia'] }}"><img src="/images/thumbs/evrasia.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
						<article class="thumb">
							<a class="image" data-search="эльдорадо, eldorado" href="{{ barcodes['eldorado'] }}"><img src="/images/thumbs/eldorado.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
						<article class="thumb">
							<a class="image" data-search="читай, город, читай город" href="{{ barcodes['4itay_gorod'] }}"><img src="/images/thumbs/4itay_gorod.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
						<article class="thumb">
							<a class="image" data-search="пятерочка" href="{{ barcodes['5tero4ka'] }}"><img src="/images/thumbs/5tero4ka.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
						<article class="thumb">
							<a class="image" data-search="adidas, адидас" href="{{ barcodes['adidas'] }}"><img src="/images/thumbs/adidas.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
						<article class="thumb">
							<a class="image" data-search="бургер, кинг, бургер кинг, burger, king, burger king" href="{{ barcodes['burger_king'] }}"><img src="/images/thumbs/burger_king.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
						<article class="thumb">
							<a class="image" data-search="карусель" href="{{ barcodes['carusel'] }}"><img src="/images/thumbs/carusel.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
						<article class="thumb">
							<a class="image" data-search="cinema, park, cinema park, синема, парк, синема парк" href="{{ barcodes['cinema_park'] }}"><img src="/images/thumbs/cinema_park.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
						<article class="thumb">
							<a class="image" data-search="fixprice, фикспрайс" href="{{ barcodes['fixprice'] }}"><img src="/images/thumbs/fixprice.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
						<article class="thumb">
							<a class="image" data-search="maxidom, максидом" href="{{ barcodes['maxidom'] }}"><img src="/images/thumbs/maxidom.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
						<article class="thumb">
							<a class="image" data-search="mediamarkt, медиамаркт" href="{{ barcodes['mediamarkt'] }}"><img src="/images/thumbs/mediamarkt.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
						<article class="thumb">
							<a class="image" data-search="mvideo, мвидио" href="{{ barcodes['mvideo'] }}"><img src="/images/thumbs/mvideo.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
						<article class="thumb">
							<a class="image" data-search="okey, окей" href="{{ barcodes['okey'] }}"><img src="/images/thumbs/okey.png" alt="" /></a>
							<h2>&nbsp;</h2>
							<p>&nbsp;</p>
						</article>
					</div>
					<div id="search" class="panel">
						<div class="inner split">
							<div>
								<section>
									<h2>Search</h2>
									<div style="width:100%;clear:both;height:5px;"></div>
									<input type="text" id="searchInput" placeholder="Shop name" value="" autocomplete="off">
									<div style="width:100%;clear:both;height:15px;"></div>
								</section>
							</div>
						</div>
					</div>
			</div>
			<script src="/js/production.min.js"></script>
			<!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
			<script src="/js/search.js"></script>
	</body>
</html>
